<ion-view view-title="RenamerTV">
  <ion-content class="padding">
    <ion-list no-lines ng-repeat="item in items">
		<ion-item>{{ item.name }} // {{ item.realname }}</ion-item>
	</ion-list>
	<button class="button button-block button-outline button-positive" ng-click="loadFiles()">. . .</button>
	<button class="button button-block button-outline button-positive" ng-click="matchFiles()">Matcher</button>
	<button class="button button-block button-outline button-positive" ng-click="renameFiles()">Renommer</button>
  </ion-content>
</ion-view>
